// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


@use "sass:map";
//
// Override Bootstrap here
//

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Toggle global options
$enable-gradients: false;
$enable-shadows: true;
$enable-responsive-font-sizes: true;

// Customize some defaults
 // $body-color: #F9E7E7; //OLD
// $body-color: #465775;
 // $body-bg: #465775; //OLD
// $body-bg: #F9E7E7; 
$border-radius: .4rem;
//$jumbotron-bg: #516586; //OLD

// $theme-colors: (
//   "primary":#B5FFE1,
//   "dark":#516586,
//   "bg":  #465775
// ); //OLD
$font-family-sans-serif: "Jost", sans-serif;

// $theme-colors: (
//   "primary":#2274A5,
//   "secondary": #E6AF2E,
//   "dark":#00171F,
//   "light": #B8DBD9,
//   "bg":  #FCFCFC//#f7eeee//#F4F4F9
// );


$theme-colors: (
  "primary":#D90429,
  "secondary": #8D99AE,
  "dark":#EDF2F4,
  "light": #EF233C,
  "bg":  #2B2D42//#f7eeee//#F4F4F9
);
$body-color: map-get($theme-colors, "dark");
$navbar-dark-color: map-get($theme-colors, "dark");
$navbar-dark-brand-color: map-get($theme-colors, "dark");
$jumbotron-bg: map-get($theme-colors, "bg");
$body-bg: map-get($theme-colors, "bg");
$card-bg: map-get($theme-colors, "bg");

//test?
//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

@import "bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.

// @import "bootstrap/scss/functions"; // Required
// @import "bootstrap/scss/variables"; // Required
// @import "bootstrap/scss/mixins"; // Required
// // @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot"; // Required
// @import "bootstrap/scss/type";
// // @import "bootstrap/scss/images";
// // @import "bootstrap/scss/code";
// @import "bootstrap/scss/grid";
// // @import "bootstrap/scss/tables";
// // @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// // @import "bootstrap/scss/dropdown";
// // @import "bootstrap/scss/button-group";
// // @import "bootstrap/scss/input-group"; // Requires forms
// // @import "bootstrap/scss/custom-forms";
// // @import "bootstrap/scss/nav";
// // @import "bootstrap/scss/navbar"; // Requires nav
// // @import "bootstrap/scss/card";
// // @import "bootstrap/scss/breadcrumb";
// // @import "bootstrap/scss/pagination";
// // @import "bootstrap/scss/badge";
// // @import "bootstrap/scss/jumbotron";
// // @import "bootstrap/scss/alert";
// // @import "bootstrap/scss/progress";
// // @import "bootstrap/scss/media";
// // @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// // @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal"; // Requires transitions
// // @import "bootstrap/scss/tooltip";
// // @import "bootstrap/scss/popover";
// // @import "bootstrap/scss/carousel";
// // @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/utilities";
// // @import "bootstrap/scss/print";



//
// Custom styles
//

// body {
//   padding: 3rem;
// }

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

@include media-breakpoint-up(lg) {
  .header-jumbotron {
    background-image: url("../img/me.png");
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
  }
}
@include media-breakpoint-down(md) {
  .header-jumbotron {
    padding-bottom: 0;
  }
}

.card {
  height: 100%;
}

.head-text {
  font-size: 2.3rem;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

#globe {
  width: 100%;
  height: 50vh;
  // display: block;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: -9999;
  // background-color: #F9E7E7;
}

.navbar {
  background-color: map-get($theme-colors, "bg");
}

.btn-link {
  text-decoration: none;
  color: map-get($theme-colors, "secondary");
}

hr {
  color: map-get($theme-colors, "primary");
}